@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as *;

.section2 {
  @include flexbox(row, center, center);
  .section2-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 70%;
    box-sizing: border-box;
    article {
      position: relative;
      border-radius: 32px;
      overflow: hidden;
      &:hover img {
        transform: scale(1.07);
      }
      z-index: 1;
      .article-banner {
        position: relative;
        width: 100%;
        border-radius: 32px;
        z-index: 2;
        object-fit: cover;
        transition-duration: 0.35s;
      }
      .article-content {
        position: absolute;
        @include flexbox(row, space-between, center, 10px);
        width: 100%;
        padding: 0 15px;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.904), transparent);
        padding-bottom: min(25px, 7vw);
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        box-sizing: border-box;

        z-index: 2;
      }

      .article-name {
        font-family: $primary-font;
        font-size: $font-sizeL;
        color: $font-clr-light;
      }
      .arrow-btn {
        @include flexbox(row, center, center);
        @include glassmorphism();
        border: none;
        border-radius: 50%;
        padding: min(5px, 6vw);
        transition-duration: 0.15s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.0892);
          cursor: pointer;
        }
        &:active {
          transition-duration: 0s;
          background-color: rgba(0, 0, 0, 0.15);
        }
        img {
          width: clamp(20px, 2.5vw, 30px);
        }
      }
    }
  }
}

@media (max-width: $breakpointXL) {
  .section2 {
    .section2-container {
      grid-template-columns: 1fr;
    }
  }
}
