@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

//root styles
aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65vw;
  opacity: 0.5;
  pointer-events: none;
  transform: translateX(-105%);
  z-index: 200;
  transition-duration: 0.3s;
  nav {
    position: relative;
    height: 100%;
    width: 100%;
    .sidebar-close-btn {
      @include flexbox(row, center, center);
      @include arrow-btn();
      display: none;
      position: absolute;
      right: -90px;
      top: 20px;
      border: none;
      padding: 15px;
      border-radius: 50%;
      cursor: pointer;
      .x-icon {
        width: 25px;
        filter: invert(100);
      }
    }
  }
  a {
    text-decoration: none;
    color: unset;
  }
  .background-element {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}
aside.show {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
  .background-element {
    display: block;
  }
  .sidebar-close-btn {
    display: block;
  }
}

//content styles
.navigation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;

  .navigation-tabs {
    @include flexbox(column, flex-start, flex-start, min(20px, 5vw));
    background-color: $sidebar-background-clr-light;
    height: 100%;
    padding: min(92px, 7vw) min(35px, 6vw);
    .navigation-btn {
      @include flexbox(row, space-between, center, 10px);
      width: 100%;
      font-size: $font-sizeL;
      font-family: $primary-font;
      border: none;
      background-color: transparent;
      padding: 8px 16px;
      border-radius: 8px;
      transition-duration: 0.2s;
      white-space: nowrap;
      .arrow-right {
        width: 22px;
      }
      &.selected {
        background-color: $sidebar-background-clr-darkened;
      }
      &:hover:not(.selected) {
        background-color: $sidebar-btn-hover-background-clr;
        cursor: pointer;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.07);
      }
      &:active:not(.selected) {
        opacity: 0.6;
        transition-duration: 0s;
      }
    }
  }
  .navigation-action {
    background-color: $sidebar-background-clr-darkened;
    height: 100%;
    overflow-y: auto;
    .navigation-tab {
      padding: min(92px, 7vw) min(30px, 4vw);
      box-sizing: border-box;
      width: 100%;
    }

    .car-models-tab.show {
      @include flexbox(column, flex-start, center, min(30px, 6vw));
    }
    .vehicle-purchase-tab.show {
      @include flexbox(column, center, flex-start, min(40px, 6vw));
    }
    .dealers-tab.show {
      @include flexbox(column, flex-start, center, min(50px, 7vw));
    }
  }
}

//sidebar content tabs
.car-models-tab {
  display: none;
  .car-model-card {
    width: 100%;
    font-family: $primary-font;
    padding: min(15px, 4vw);
    border-radius: 12px;
    box-sizing: border-box;
    transition-duration: 0.15s;
    .car-model-name {
      font-size: $font-sizeM;
      padding: 6px 12px;
    }
    .car-model-image {
      width: clamp(100px, 100%, 350px);
      align-self: center;
      transition-duration: 0.15s;
    }
    .fuel-types {
      @include flexbox(row, flex-start, center, 5px);
      flex-wrap: wrap;
    }
    .fuel-type {
      display: inline-block;
      padding: 6px 12px;
      border-radius: 50px;
      background-color: $sidebar-background-clr-light;
      font-size: $font-sizeS;
      transition-duration: 0.15s;
    }
    &:hover {
      background-color: $sidebar-background-clr-light;
      cursor: pointer;
      .car-model-image {
        transform: translateX(5%);
      }
      .fuel-type {
        background-color: $sidebar-background-clr-darkened;
      }
    }
  }
}
.vehicle-purchase-tab {
  display: none;
  a {
    color: $font-clr-dark;
    font-size: $font-sizeL;
    font-family: $primary-font;
    padding: 5px 10px;
    transition-duration: 0.2s;
    border-radius: 6px;
    &:hover {
      background-color: $sidebar-btn-hover-background-clr;
    }
  }
}

.dealers-tab {
  display: none;
  .find-dealer-btn {
    @include flexbox(row, space-between, center);
    border: none;
    padding: min(20px, 7vw);
    background-color: $sidebar-button-background-clr;
    width: 100%;
    border-radius: 16px;
    font-size: $font-sizeM;
    font-family: $primary-font;
    transition-duration: 0.2s;
    .arrow-right-icon {
      width: 25px;
    }
    &:hover {
      background-color: $sidebar-btn-hover-background-clr;
      cursor: pointer;
      .arrow-right-icon {
        animation: bounce-right 0.5s ease-out;
      }
    }
    &:active {
      opacity: 0.8;
      transition-duration: 0s;
    }
  }
  .dealer-details-container {
    @include flexbox(column, flex-start, flex-start, 20px);
    font-family: $primary-font;
    padding: min(40px, 7vw);
    background-color: $sidebar-background-clr-light;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    .dealer-title {
      font-size: $font-sizeL;
      color: $font-clr-dark;
    }
    .dealer-address {
      color: $font-clr-darkened;
      font-size: $font-sizeS;
    }
    .dealer-navigation-list {
      @include flexbox(column, flex-start, flex-start, 10px);
      .navigation-list-item {
        padding: 2px 4px;
        border-radius: 6px;
        transition-duration: 0.2s;
        a {
          @include flexbox(row, flex-start, center, 5px);

          color: $font-clr-dark;
          .navigation-icon {
            width: 25px;
          }
        }
        &:hover {
          background-color: $sidebar-btn-hover-background-clr;
        }
      }
    }
    .show-more-details-btn {
      @include flexbox(row, center, center);
      width: 100%;
      border: none;
      background-color: $sidebar-btn-hover-background-clr;
      padding: min(18px, 6vw);
      font-size: $font-sizeM;
      font-family: $primary-font;
      border-radius: 12px;
      transition-duration: 0.2s;
      .arrow-down-icon {
        width: 25px;
      }
      &:hover {
        background-color: $sidebar-background-clr-darkened;
        cursor: pointer;
        .arrow-down-icon {
          animation: float 0.7s infinite ease-in-out;
        }
      }
      &:active {
        opacity: 0.7;
        transition-duration: 0s;
      }
    }
  }
}

@media (max-width: $breakpointXL) {
  aside {
    width: 85vw;
  }
}
@media (max-width: $breakpointL) {
  aside {
    width: 100vw;
    nav {
      .sidebar-close-btn {
        right: 20px;
        top: 20px;
        padding: 5px;
        .x-icon {
          filter: invert(0);
        }
      }
      .navigation-container {
        grid-template-columns: 1fr;
        .navigation-tabs {
          box-sizing: border-box;
          .navigation-btn {
            width: 80%;
          }
        }
        .navigation-action {
          box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
