@use "../../abstracts/variables" as *;
@use "./section1";
@use "./section2";
@use "./section3";
@use "./section4";

.page-content {
  position: relative;
  width: 100%;
  //temp
  height: 500px;
  z-index: 199;
  background-color: $background-clr-light;
}
