@use "../../abstracts/variables" as *;
@use "./section1";
@use "./section2";
@use "./section3";
@use "./section4";

.gpc-page {
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(100px, 13vw);
    position: relative;
    width: 100%;

    z-index: 199;
    background-color: $background-clr-light;
  }
}
