html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Porsche next;
  src: url(../../assets/fonts/porsche-next/porsche-next.ttf);
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-thin.otf);
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-light.otf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-regular.otf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-semibold.otf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-bold.otf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-heavy.otf);
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Din Next;
  src: url(../../assets/fonts/din-next-font/DINNextW1G-Bold.otf);
  font-display: swap;
}
header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.904), transparent);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px min(70px, 5vw);
  z-index: 100;
}
header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
header .header-container img {
  width: 50px;
}
header .header-container .header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 2px 4px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}
header .header-container .header-left:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
header .header-container .burger-menu {
  width: 25px;
}
header .header-container .menu {
  color: #ffffff;
  font-family: Porsche Next, Arial;
}
header .header-container .porsche-logo {
  display: none;
  width: 32px;
}
header .header-container .porsche-title {
  width: clamp(150px, 20vw, 200px);
}
header .header-container .header-right {
  position: relative;
}
header .header-container .globe-icon {
  width: 24px;
  padding: 2px;
  border-radius: 50%;
  transition-duration: 0.15s;
}
header .header-container .globe-icon:hover {
  background-color: rgba(100, 100, 100, 0.8);
  cursor: pointer;
}
header .header-container .globe-icon:hover + .globe-tooltip {
  opacity: 1;
}
header .header-container .globe-tooltip {
  position: absolute;
  opacity: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: min(6px, 6vw);
  background-color: rgba(100, 100, 100, 0.8);
  color: #ffffff;
  font-size: clamp(0.7rem, 1.2vw + 0.2rem, 1rem);
  font-family: Porsche Next, Arial;
  line-height: 130%;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.3s;
}

@media (max-width: 760px) {
  header .header-container .porsche-title {
    display: none;
  }
  header .header-container .porsche-logo {
    display: block;
  }
  header .header-container .menu {
    display: none;
  }
  header .header-container .globe-tooltip {
    white-space: wrap;
  }
}
.section1-container {
  position: relative;
}
.section1-container .page-video {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.section1-container .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: min(150px, 25vw) min(100px, 8vw);
  box-sizing: border-box;
}
.section1-container .page-content .page-title {
  font-size: clamp(1.7rem, 5vw + 0.3rem, 3.9rem);
  font-family: Porsche Next, Arial;
  color: #ffffff;
  max-width: 650px;
}
.section1-container .page-content .read-btn {
  backdrop-filter: blur(15px);
  background-color: rgba(140, 140, 140, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(181, 108, 108, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
  border: none;
  padding: min(15px, 8vw) 0;
  width: 15%;
  border-radius: 10px;
  font-size: clamp(0.8rem, 1.3vw + 0.2rem, 1.1rem);
  color: #ffffff;
  font-family: Porsche Next, Arial;
  transition: background 0.15s;
  white-space: nowrap;
}
.section1-container .page-content .read-btn:hover {
  background-color: rgba(0, 0, 0, 0.0892);
  cursor: pointer;
}
.section1-container .page-content .read-btn:active {
  background-color: rgba(0, 0, 0, 0.15);
}
.section1-container .video-playback-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  backdrop-filter: blur(15px);
  background-color: rgba(140, 140, 140, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(181, 108, 108, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
  position: absolute;
  bottom: min(40px, 5vw);
  right: min(50px, 5vw);
  padding: min(15px, 3vw);
  border-radius: 50%;
  border: none;
  transition: background 0.15s;
  cursor: pointer;
  z-index: 2;
}
.section1-container .video-playback-btn:hover {
  background-color: rgba(0, 0, 0, 0.0892);
  cursor: pointer;
}
.section1-container .video-playback-btn:active {
  transition-duration: 0s;
  background-color: rgba(0, 0, 0, 0.15);
}
.section1-container .video-playback-btn img {
  width: clamp(15px, 5vw, 27px);
}
.section1-container .video-playback-btn .play-icon {
  display: none;
}
.section1-container .video-paused .play-icon {
  display: block;
}
.section1-container .video-paused .pause-icon {
  display: none;
}

@media (max-width: 760px) {
  .section1-container .page-content .page-title {
    width: 100%;
    text-align: center;
  }
  .section1-container .page-content .read-btn {
    width: 100%;
  }
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.section2 .section2-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 70%;
  box-sizing: border-box;
}
.section2 .section2-container article {
  opacity: 0;
  transform: translateY(15%);
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  transition-duration: 1s;
}
.section2 .section2-container article:hover img {
  transform: scale(1.07);
}
.section2 .section2-container article {
  z-index: 1;
}
.section2 .section2-container article .article-banner {
  position: relative;
  width: 100%;
  z-index: 2;
  object-fit: cover;
  transition-duration: 0.35s;
}
.section2 .section2-container article .article-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 15px;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.904), transparent);
  padding-bottom: min(25px, 7vw);
  box-sizing: border-box;
  z-index: 2;
}
.section2 .section2-container article .article-name {
  font-family: Porsche Next, Arial;
  font-size: clamp(1rem, 1.5vw + 0.3rem, 1.4rem);
  color: #ffffff;
}
.section2 .section2-container article .arrow-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  backdrop-filter: blur(15px);
  background-color: rgba(140, 140, 140, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(181, 108, 108, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
  border: none;
  border-radius: 50%;
  padding: min(5px, 6vw);
  transition-duration: 0.15s;
}
.section2 .section2-container article .arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.0892);
  cursor: pointer;
}
.section2 .section2-container article .arrow-btn:active {
  transition-duration: 0s;
  background-color: rgba(0, 0, 0, 0.15);
}
.section2 .section2-container article .arrow-btn img {
  width: clamp(20px, 2.5vw, 30px);
}
.section2 .section2-container article.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1000px) {
  .section2 .section2-container {
    grid-template-columns: 1fr;
  }
}
.section3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 92vw;
  margin: 0 auto;
}
.section3-container img {
  width: 100px;
}
.section3-container .section3-title {
  font-family: Porsche Next, Arial;
  font-size: clamp(2rem, 7vw + 0.3rem, 5.1rem);
  align-self: flex-start;
}
.section3-container .articles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  overflow: hidden;
}
.section3-container .articles-container article {
  position: relative;
  color: #ffffff;
  border-radius: 32px;
  overflow: hidden;
  font-family: Porsche Next, Arial;
  flex-grow: 1;
  height: 40vw;
  width: 45%;
  transition: 0.6s;
}
.section3-container .articles-container article:hover {
  width: 50%;
}
.section3-container .articles-container article .header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.904), transparent);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.7rem, 5vw + 0.3rem, 3.9rem);
  font-family: Nexa Script, Arial;
  width: 100%;
  text-align: center;
  padding: min(30px, 9vw);
}
.section3-container .articles-container article .header911 {
  font-family: Din Next;
  letter-spacing: -15%;
}
.section3-container .articles-container article .media {
  width: 100%;
  height: 100%;
}
.section3-container .articles-container article .media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3-container .articles-container article .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.904), transparent);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: min(30px, 9vw);
  box-sizing: border-box;
}
.section3-container .articles-container article .footer .arrow-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  backdrop-filter: blur(15px);
  background-color: rgba(140, 140, 140, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(181, 108, 108, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
  border: none;
  border-radius: 50%;
  padding: min(5px, 6vw);
  transition-duration: 0.15s;
}
.section3-container .articles-container article .footer .arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.0892);
  cursor: pointer;
}
.section3-container .articles-container article .footer .arrow-btn:active {
  transition-duration: 0s;
  background-color: rgba(0, 0, 0, 0.15);
}
.section3-container .articles-container article .footer .arrow-btn img {
  width: clamp(20px, 2.5vw, 30px);
}
.section3-container .articles-container article .footer .arrow-btn {
  color: #ffffff;
}
.section3-container .articles-container article .footer .explore-title {
  display: none;
}
.section3-container .articles-container article .footer .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  font-size: clamp(0.8rem, 1.3vw + 0.2rem, 1.1rem);
}
.section3-container .articles-container article .footer .fuel-type-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.section3-container .articles-container article .footer .fuel-type {
  padding: 6px 12px;
  background-color: rgba(100, 100, 100, 0.8);
  border-radius: 50px;
  font-size: clamp(0.7rem, 1.2vw + 0.2rem, 1rem);
}
.section3-container .articles-container article:hover .arrow-btn {
  border-radius: 10px;
  padding: 5px 10px;
}
.section3-container .articles-container article:hover .arrow-btn .explore-title {
  display: block;
}

body {
  background-color: #ffffff;
  transition: background 1s;
}

body.dark-mode {
  background-color: #000000;
}
body.dark-mode .section-title {
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

section {
  width: 100%;
  box-sizing: border-box;
}
section .section-title {
  transition-duration: 1s;
}/*# sourceMappingURL=main.css.map */