html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Porsche next;
  src: url(../../assets/fonts/porsche-next/porsche-next.ttf);
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-thin.otf);
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-light.otf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-regular.otf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-semibold.otf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-bold.otf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Nexa Script;
  src: url(../../assets/fonts/nexa-script/nexa-script-heavy.otf);
  font-weight: 800;
  font-display: swap;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px min(70px, 5vw);
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.704), rgba(255, 255, 255, 0));
}
header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
header .header-container img {
  width: 50px;
}
header .header-container .header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}
header .header-container .header-left:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
header .header-container .burger-menu {
  width: 15px;
}
header .header-container .menu {
  color: #ffffff;
  font-family: Porsche Next, Arial;
}
header .header-container .porsche-logo {
  display: none;
  width: 32px;
}
header .header-container .porsche-title {
  width: clamp(150px, 20vw, 200px);
}
header .header-container .header-right {
  position: relative;
}
header .header-container .globe-icon {
  width: 18px;
  padding: 4px;
  border-radius: 50%;
  transition-duration: 0.15s;
}
header .header-container .globe-icon:hover {
  background-color: rgba(100, 100, 100, 0.8);
  cursor: pointer;
}
header .header-container .globe-icon:hover + .globe-tooltip {
  opacity: 1;
}
header .header-container .globe-tooltip {
  position: absolute;
  opacity: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: min(6px, 6vw);
  background-color: rgba(100, 100, 100, 0.7);
  color: #ffffff;
  font-size: clamp(0.6rem, 1.1vw + 0.15rem, 0.8rem);
  font-family: Porsche Next, Arial;
  line-height: 130%;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.3s;
}

@media (max-width: 760px) {
  header .header-container .porsche-title {
    display: none;
  }
  header .header-container .porsche-logo {
    display: block;
  }
  header .header-container .menu {
    display: none;
  }
  header .header-container .globe-tooltip {
    white-space: wrap;
  }
}
.section2-container {
  position: relative;
}
.section2-container .page-video {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.section2-container .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: min(150px, 10vw) min(100px, 8vw);
  box-sizing: border-box;
}
.section2-container .page-content .page-title {
  font-size: clamp(1.7rem, 5vw + 0.3rem, 3.9rem);
  font-family: Porsche Next, Arial;
  color: #ffffff;
  max-width: 650px;
}
.section2-container .page-content .read-btn {
  backdrop-filter: blur(15px);
  background-color: rgba(179, 179, 179, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(181, 108, 108, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
  border: none;
  padding: min(15px, 8vw) 0;
  width: 15%;
  border-radius: 10px;
  font-size: clamp(0.8rem, 1.3vw + 0.2rem, 1.1rem);
  color: #ffffff;
  font-family: Porsche Next, Arial;
  transition: background 0.15s;
  white-space: nowrap;
}
.section2-container .page-content .read-btn:hover {
  background-color: rgba(0, 0, 0, 0.0892);
  cursor: pointer;
}
.section2-container .page-content .read-btn:active {
  background-color: rgba(0, 0, 0, 0.15);
}

@media (max-width: 760px) {
  .section2-container .page-content .page-title {
    width: 100%;
    text-align: center;
  }
  .section2-container .page-content .read-btn {
    width: 100%;
  }
}
body {
  background-color: rgb(255, 107, 107);
}/*# sourceMappingURL=main.css.map */