@mixin glassmorphism() {
  backdrop-filter: blur(15px);
  background-color: rgba(179, 179, 179, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(181, 108, 108, 0.4);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

@mixin flexbox(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $gap: 0px
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
