@mixin glassmorphism($blur: 10px) {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur($blur);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

@mixin flexbox(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $gap: 0px
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin arrow-btn($blur: 10px) {
  @include flexbox(row, center, center);
  @include glassmorphism();
  border: none;
  border-radius: 50%;
  padding: min(5px, 6vw);
  transition-duration: 0.15s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.0892);
    cursor: pointer;
  }
  &:active {
    transition-duration: 0s;
    background-color: rgba(0, 0, 0, 0.15);
  }
  img {
    width: clamp(20px, 2.5vw, 30px);
  }
}

@mixin fade-to($fade-direction) {
  background: linear-gradient(
    to $fade-direction,
    rgba(0, 0, 0, 0.904),
    transparent
  );
}
