@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;

.porsche-ceo-section {
  @include mixins.flexbox(row, center, center);
  .section-container {
    display: grid;
    gap: min(70px, 8vw);
    grid-template-columns: repeat(2, 1fr);
    width: clamp(267px, 70%, 100%);
    align-items: center;
  }
  .section-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $secondary-border-radius;
  }
  .section-paragraph {
    font-size: 1rem;

    line-height: $primary-line-height;
    text-wrap: balance;
  }
}

@media (max-width: $breakpointXL) {
  .porsche-ceo-section {
    .section-container {
      grid-template-columns: 1fr;
    }
  }
}
