@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;

.login-form-section {
  .section-container {
    position: relative;
  }
  .media {
    position: relative;
    width: 100%;
    height: 100dvh;
    .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form-heading {
    font-size: $font-sizeX;
    text-align: center;
    text-wrap: balance;
    font-weight: 700;
  }
  .input-items-wrapper {
    @include mixins.flexbox(column, center, center, min(30px, 6vw));
    width: 100%;
  }
  .input-container {
    @include mixins.flexbox(column, center, flex-start, 10px);
    width: 100%;
  }
  .buttons-and-links-wrapper {
    @include mixins.flexbox(column, center, center, min(25px, 4vw));
    width: 100%;
    .remember-me-wrapper {
      @include mixins.flexbox(row, center, center, 10px);
      align-self: flex-start;
      font-size: $font-sizeM;
    }
    .login-btn {
      //uses _GlassButton2 component
      &::before {
        background-color: #000000bb;
      }
      &::after {
        background-color: #ba0000;
      }
    }

    .signup-link {
      color: #ffffff90;
      font-size: $font-sizeM;
      a {
        font-weight: 700;
        color: #ffffffcc;
        &:hover {
          text-decoration: underline;
          color: $font-clr-light;
        }
      }
    }
  }
}

@media (max-width: $breakpointL) {
  .login-form-section {
    .login-form {
      padding: $paddingXL;
    }
  }
}
