@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as *;

%default-button {
  padding: min(12px, 4vw) min(24px, 4vw);
  border: none;
  border-radius: 10px;
  font-size: $font-sizeS;
  transition-duration: 0.2s;
  white-space: nowrap;
  box-sizing: border-box;
  transition: background 0.2s;
  &:active {
    transform: scale(0.99);
    transition-duration: 0s;
  }
}

.gray-button {
  @extend %default-button;
  background-color: #dbdbde;
  color: $font-clr-dark;
  padding: min(12px, 4vw) min(24px, 4vw);

  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }
}

.black-button {
  @extend %default-button;
  background-color: $background-clr-dark;
  color: $font-clr-light;
  &:hover {
    background-color: #000000bb;
    cursor: pointer;
  }
}

//single arrow button component
.arrow-btn {
  @include mixins.flexbox(row, center, center);
  @include mixins.glassmorphism();
  border: none;
  border-radius: 50%;
  padding: 7px;
  transition-duration: 0.15s;
  box-sizing: border-box;

  &:not(.disabled):hover {
    background-color: rgba(0, 0, 0, 0.0892);
    cursor: pointer;
  }

  &:not(.disabled):active {
    transition-duration: 0s;
    background-color: rgba(0, 0, 0, 0.15);
  }

  img {
    width: clamp(20px, 2.5vw, 30px);
  }
}

//twin arrow buttons component(usually used for sliders)
.navigation-arrow-buttons {
  @include mixins.flexbox(row, center, center, 5px);
  .arrow-btn {
    background-color: transparent;
    padding: 9px;
    transition-duration: 0.15s;

    .arrow-icon {
      width: 22px;
      pointer-events: none;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(.disabled):hover {
      background-color: $light-dark-clr;
    }
  }
  .arrow-btn-left {
    transform: rotate(180deg);
  }
}

//used for pausing or playing the video
//add .video-paused to apply styles for pause state or the opposite
.video-playback-button {
  @include mixins.flexbox(row, center, center);
  @include mixins.glassmorphism(10px);
  padding: $paddingM;
  border-radius: 50%;
  border: none;
  transition-duration: 0.15s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.0892);
    cursor: pointer;
  }

  &:active {
    transition-duration: 0s;
    background-color: rgba(0, 0, 0, 0.15);
  }

  img {
    width: clamp(15px, 5vw, 27px);
  }

  .play-icon {
    display: none;
  }

  &.video-paused {
    .play-icon {
      display: block;
    }

    .pause-icon {
      display: none;
    }
  }
}

.gray-transparent-button {
  @extend %default-button;
  background-color: rgba(156, 156, 159, 0.3);
  color: $font-clr-light;
  &:hover {
    background-color: hsla(240, 2%, 43%, 0.228);
    cursor: pointer;
  }
}

.glass-button {
  @extend %default-button;
  @include mixins.glassmorphism();

  &:hover {
    background-color: rgba(0, 0, 0, 0.0892);
    cursor: pointer;
  }

  &:active {
    transition-duration: 0s;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
