@use "../abstracts/mixins" as *;

@mixin slider-navigation() {
  @include flexbox(row, center, center, 10px);
  .navigation-link {
    padding: 5px;
    background-color: #707071;
    border-radius: 50vh;
    transition-duration: 0.2s;
    &.selected {
      background-color: rgb(0, 0, 0);
      padding: 5px 13px;
      pointer-events: none;
    }
    &:not(.selected) {
      cursor: pointer;
    }
  }
}
