@use "../../abstracts/mixins" as mixins;

@use "./section1";
@use "./section2";
@use "./section3";
@use "./section4";
@use "./section5";
@use "./section6";
@use "./section7";
@use "./section8";
@use "./section9";
@use "./section10";
@use "./section11";
@use "./section12";

.page911 {
  width: 100%;
  main {
    @include mixins.flexbox(column, center, center);
    gap: clamp(100px, 15vw, 180px);
    margin-bottom: 120px;
    width: 100%;
  }
}
