@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;

@use "../../layout/footer";
@use "../../layout/header" as headers;
@use "./header";
@use "../../layout/sidebar";
@use "./section1";
@use "./section2";
@use "./section3";
@use "./section4";
@use "./section5";
@use "./section6";
@use "./section7";
@use "./section8";
@use "./section9";
@use "./section10";
@use "./section11";
@use "./section12";

.page911 {
  width: 100%;

  main {
    //distance between sections
    width: 100%;
    gap: clamp(100px, 15vw, 180px);
  }
}
