@use "../../layout/header" as headers;
.white-header-static {
  @include headers.header-white(static);
}

.white-header-fixed {
  @include headers.model-header-white(fixed);
  transform: translateY(-104%);
  transition-duration: 0.3s;
  opacity: 0;
}
.white-header-fixed.show {
  transform: translateX(0);
  opacity: 1;
}
