@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;

.model-testimonial-section {
  padding: 0 min(90px, 7vw);
  .section-container {
    @include mixins.flexbox(column, center, center, 70px);
    position: relative;
  }

  .model-signature-image {
    width: clamp(90px, 20vw, 200px);
  }
  .testimonial-image {
    border-radius: 32px;
    transition-duration: 0.2s;
  }
  .testimonial-image.image1 {
    width: 100%;
    animation: shrink both;
    animation-timeline: view();
    animation-range: entry 50% cover 60%;
    animation-fill-mode: forwards;
  }

  .testimonial {
    @include mixins.flexbox(column, center, flex-start, 20px);
    width: clamp(300px, 40%, 100%);
    padding-left: min(90px, 6vw);
    box-sizing: border-box;
    align-self: flex-start;
    .testimonial-title {
      font-size: $font-sizeXL;
    }
    .testimonial-text {
      font-size: $font-sizeL;
      line-height: 130%;
    }
  }
  .testimonial-image.image2 {
    position: absolute;
    width: clamp(150px, 40vw, 600px);
    right: -2%;
    bottom: 9%;
    animation: slide-up-fast;
    animation-timeline: view();
    z-index: 2;
  }
  .testimonial-image.image3 {
    position: relative;
    left: -10%;
    bottom: 50px;
    width: clamp(150px, 55%, 700px);
    animation: slide-up-slow;
    animation-timeline: view();
  }
}

@media (max-width: $breakpointL) {
  .model-testimonial-section {
    padding: $paddingL-x;

    .section-container {
      .testimonial {
        width: 100%;
      }
      .testimonial-image.image2 {
        bottom: -40vw;
        width: clamp(150px, 50vw, 350px);
        z-index: 1;
        animation: none;
      }
    }
    .testimonial-image.image3 {
      align-self: flex-start;
      left: 0;
      width: clamp(200px, 70%, 100%);
      z-index: 2;
    }
  }
}

@keyframes slide-up-fast {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300px);
  }
}

@keyframes slide-up-slow {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(-40px);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 90%;
  }
}
