@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;
@use "../../components/buttons" as buttons;

.model-video-section {
  padding: $padding4XL-x;
  width: 100%;
  box-sizing: border-box;
  .section-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  .model-video {
    width: 100%;
    object-fit: cover;
    border-radius: $primary-border-radius;
  }
  .video-playback-btn {
    @include buttons.video-playback-button();
    position: absolute;
    bottom: min(20px, 5vw);
    right: min(20px, 5vw);
  }
}

@media (max-width: $breakpointL) {
  .model-video-section {
    padding: $padding2XL-x;
    .model-video {
      height: clamp(300px, 150vw, 1000px);
    }
  }
}
