@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;

.model-configuration-section {
  width: 100%;
  padding: 0 min(140px, 6.5vw);

  .section-container {
    @include mixins.flexbox(column, center, center, min(80px, 5vw));
    width: 100%;
  }
  .section-heading {
    font-size: $font-sizeXL;
    text-align: center;
  }
  .model-config-window {
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: min(40px, 4vw);
    align-items: start;
    width: 100%;
    .config-left {
      @include mixins.flexbox(column, center, flex-start, 20px);
      overflow: hidden;
      width: 100%;
    }
    .main-window {
      position: relative;
      width: 100%;
      border-radius: $primary-border-radius;
      overflow: hidden;
      .theme-controller {
        position: absolute;
        @include mixins.flexbox(row, center, center);
        background-color: black;
        padding: min(15px, 2.5vw);
        border-radius: 50%;
        bottom: min(30px, 4vw);
        left: min(30px, 4vw);
        z-index: 2;
        transition-duration: 0.15s;
        &:hover {
          cursor: pointer;
          background-color: rgba(40, 40, 40);
        }
      }
      .moon-icon {
        width: 24px;
        filter: invert(100);
      }
      .model-signature-text {
        position: absolute;
        top: min(30px, 4vw);
        left: min(30px, 4vw);
        width: clamp(60px, 8vw, 105px);
        z-index: 2;
        filter: invert(100);
      }
      .background-media {
        position: relative;
        width: 100%;
        &::after {
          @include mixins.fade-to(top);
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 15%;
          z-index: 1;
        }
        .background-image {
          width: 100%;
          object-fit: cover;
        }
      }
      .slider-navigation {
        @include mixins.flexbox(row, center, center, 7px);
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .navigation-item {
        background-color: $light-dark-clr;
        padding: 4.5px;
        border-radius: 50px;

        &.selected {
          background-color: white;
          padding: 4.5px 14px;
        }
        &:not(.selected):hover {
          cursor: pointer;
        }
      }
    }
    .thumbnails {
      @include mixins.flexbox(row, flex-start, center, 10px);

      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;

      overflow-x: auto;
      scrollbar-width: none;
      ::-webkit-scrollbar {
        display: none;
      }
    }
    .thumbnail {
      @include mixins.flexbox(row, center, center);
      flex: 0 0 110px;
      border-radius: 12px;
      overflow: hidden;
      padding: 2px;
      box-sizing: border-box;
      transition-duration: 0.1s;

      &.selected,
      &:hover {
        border: 2px solid black;
      }
      &:not(.selected):hover {
        cursor: pointer;
      }
      &:not(.selected):active {
        transition-duration: 0.03s;
        transform: scale(0.95);
      }
      .thumbnail-image {
        width: 100%;
        border-radius: 10px;
      }
    }

    .config-right {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 1fr;
      gap: min(15px, 3vw);
      height: 100%;
    }

    .config-heading {
      font-size: $font-sizeM;
      font-weight: 600;
    }
    .color-config-container {
      .color-scroller {
        @include mixins.flexbox(column, flex-start, flex-start, 20px);
        overflow-y: auto;
        max-height: 200px;
        .color-category {
          @include mixins.flexbox(column, center, flex-start, 10px);
        }
        .color-category-heading {
          font-size: $font-sizeS;
        }
      }
    }
  }
  .section-footer {
    @include mixins.flexbox(column, center, center, 20px);
    .section-description {
      font-size: $font-sizeM;
      text-align: center;
    }
    .build-btn {
      padding: min(20px, 6vw) min(60px, 6vw);
    }
  }
}

@media (max-width: $breakpointXL) {
  .model-configuration-section {
    padding: 0;
    .model-config-window {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      .main-window {
        border-radius: unset;
      }
      .config-right {
        @include mixins.flexbox(row, center, center, min(10px, 3vw));
        flex-wrap: wrap;
        padding: 0 min(100px, 5vw);
      }
      .config-container {
        display: none;
      }
      .config-container-mobile {
        display: flex;
      }
    }
  }
}
