@use "./base/reset";
@use "./abstracts/mixins" as *;
@use "./abstracts/variables" as *;

//import pages
@use "./pages/home-page/home-page";
@use "./pages/911-carrera/carrera911";

html {
  scroll-behavior: smooth;
}
body {
  background-color: $background-clr-light;
  transition: background 1s;
  font-family: $primary-font;
}
body.dark-mode {
  background-color: $background-clr-dark;
  .section-title {
    color: $font-clr-light;
  }
}
a {
  text-decoration: none;
  color: unset;
}

main {
  @include flexbox(column, center, center, 100px);
  margin-bottom: 120px;
}
section {
  width: 100%;
  box-sizing: border-box;
  .section-title {
    transition-duration: 1s;
  }
}
::selection {
  background-color: rgba(49, 200, 255, 0.4);
}
