@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as *;

.section2 {
  @include mixins.flexbox(row, center, center);
}
.small-articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 70%;
  box-sizing: border-box;
}

@media (max-width: $breakpointXL) {
  .small-articles-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    width: 85%;
  }
}
