@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as *;
.section5 {
  @include flexbox(column, center, center, 50px);
  .section5-container {
    max-height: 1100px;
  }
  h2 {
    font-family: $primary-font;
    font-size: $font-sizeX;
    font-weight: 700;
  }
}
